[submodule "imgui-sys/lib/imgui"]
	path = imgui-sys/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "raylib-sys/lib/raylib"]
	path = raylib-sys/lib/raylib
	url = https://github.com/raysan5/raylib
[submodule "ftxui-sys/lib/ftxui"]
	path = ftxui-sys/lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
[submodule "box3d-sys/lib/box3d"]
	path = box3d-sys/lib/box3d
	url = https://github.com/erincatto/box3d
[submodule "box2d-sys/lib/box2d"]
	path = box2d-sys/lib/box2d
	url = https://github.com/erincatto/box2d
[submodule "raygui-sys/lib/raygui"]
	path = raygui-sys/lib/raygui
	url = https://github.com/raysan5/raygui
[submodule "sdl-sys/lib/SDL"]
	path = sdl-sys/lib/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "glm-sys/lib/glm"]
	path = glm-sys/lib/glm
	url = https://github.com/g-truc/glm
[submodule "cpp-httplib-sys/lib/cpp-httplib"]
	path = cpp-httplib-sys/lib/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib
